<html lang="en-US">

<head>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());
        gtag("config", "UA-63172957-1");
    </script>
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-63172957-1"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000" />
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/601407094277873664/WT2mk28E_400x400.jpg" />
    <link rel="icon" sizes="57x57" href="img/logo_final.png" />


    <title>Andrea Ferraboli</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body>
    <div style="width: 100%">


        <menu class="main-menu">
            <div class="main-menu__top">
                <a class="logo" rel="home" href="index.html">
                    <img class="logo-img" src="img/logo_final.png" alt="" href="https://andreaferraboli.it" />
                    <span>Andrea</span>
                    <span>Ferraboli</span>
                </a>
            </div>
            <nav class="main-menu_nav">
                <a rel="about" href="#section-home">Home</a>
                <a rel="about" href="#section-information">Introduction</a>
                <a rel="about" href="#section-about">About</a>
                <a rel="about" href="#section-education">Education</a>
                <a rel="skills" href="#section-education">Skills</a>
                <a rel="skills" href="#section-certificates">Certificate</a>
                <a rel="skills" href="#section-books">My Books</a>
                <a rel="contact" href="#section-contact">Contact</a>
            </nav>

            <ul class="main-menu__social">
                <a href="https://www.facebook.com/andrea.ferraboli.7/" target="_blank"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/andrea_ferraboli/" target="_blank"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/andrea-ferraboli-845135188/" target="_blank"><i
                        class="bx bxl-linkedin"></i></a> <br>
                <a href="https://github.com/andreaferraboli" target="_blank"><i class="bx bxl-github"></i></a>
                <a href="mailto: andrew.ferro04@gmail.com" target="_blank"><i class="bx bxl-gmail"></i></a>
                <a href="https://t.me/Ferro624" target="_blank"><i class="bx bxl-telegram"></i></a>
            </ul>
        </menu>
        <div id="ajaxify" class="w-90">
            <div class="page-outer">
                <div class="page-inner">
                    <div class="aboutMe">
                        <section id="section-home" class="section-full section-home js-page-home loaded scroll">
                            <div class="text-zone personal-job-area">
                                <h1 class="personal-job-area">
                                    <span class="text-job">Cybersecurity Specialist </span> <br />
                                    <span class="text-job">Chief Information Security Officer</span>
                                    <br />
                                    <span class="text-job">Senior Manager</span> <br />
                                    <span class="text-job">Counselor</span> <br />
                                    <span class="text-job">Mental Coach</span> <br />
                                </h1>
                                <br />
                                <p class="aforisma">
                                    "Se fai ciò che hai sempre fatto otterrai ciò che hai sempre
                                    ottenuto."
                                </p>
                                <br />
                                <div class="center-btn">
                                    <a rel="contact" href="/contact/" class="flat-button center-btn">
                                        <span class="bg"></span> <span class="base"></span>
                                        <span class="text">Scopri di più</span>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <img src="img/foto-no-background.png" class="img" />
                            </div>

                        </section>
                    </div>
                    <section id="section-information" class="section-information scroll">
                        <div class="container h-50">
                            <div class="row personal-profile">
                                <div class="col-md-4 personal-profile__avatar">
                                    <img class="" src="img/my avatar.png" style="background-size: cover;">
                                </div>
                                <div class="col-md-8">
                                    <h2 class="personal-profile__name">Andrea Ferraboli</h2>
                                    <p class="personal-profile__work">Cybersecurity Specialist, mental coach</p>
                                    <div class="personal-profile__contacts">
                                        <dl class="contact-list contact-list__opacity-titles">
                                            <dt>Age:</dt>
                                            <dd id="age" alt="06/02/2004"></dd>
                                            <dt>Phone:</dt>
                                            <dd><a href="tel:+39 3339431378">(+39) 333 9431379</a></dd>
                                            <dt>Email:</dt>
                                            <dd><a href="mailto:andrew.ferro04@gmail.com">andrew.ferro04@gmail.com</a>
                                            </dd>
                                            <dt>Address:</dt>
                                            <dd>Via G. A. Cavellini 1, 25134, Brescia</dd>
                                        </dl>
                                    </div>
                                    <p class="personal-profile__social">
                                        <a href="https://www.facebook.com/andrea.ferraboli.7/" target="_blank"><i
                                                class="bx bxl-facebook"></i></a>
                                        <a href="https://www.instagram.com/andrea_ferraboli/" target="_blank"><i
                                                class="bx bxl-instagram"></i></a>
                                        <a href="https://www.linkedin.com/in/andrea-ferraboli-845135188/"
                                            target="_blank"><i class="bx bxl-linkedin"></i></a>
                                        <a href="https://github.com/andreaferraboli" target="_blank"><i
                                                class="bx bxl-github"></i></a>
                                        <a href="mailto: andrew.ferro04@gmail.com" target="_blank"><i
                                                class="bx bxl-gmail"></i></a>
                                        <a href="https://t.me/Ferro624" target="_blank"><i
                                                class="bx bxl-telegram"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="hello" class="cv-container h-50">
                            <div class="row">
                                <div>
                                    <p class="section__description">
                                        Professionista dell'Information Technology (IT) con una forte competenza nella
                                        gestione dell'IT, nella gestione della sicurezza IT e nell'architettura
                                        aziendale
                                        IT.
                                        Persona altamente qualificata, dedita al lavoro di squadra ed entusiasta, con
                                        eccellenti capacità di leadership, motivazione e di comunicazione. Durante la
                                        mia
                                        carriera ho avuto l'onore di lavorare per brand di calibro
                                        internazionale:</p>
                                </div>
                                <div class="logo-carousel-container">
                                    <div class="logo-set1" id="logoSet1">
                                        <!-- Gli elementi img verranno aggiunti dinamicamente qui -->
                                    </div>
                                </div>
                                
                                <script>
                                    // Array di URL delle immagini
                                    var logos = [
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/62657425a9da5b113b2ec7d9_6060b782465d7108c644ae56_huawei.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742245767bffe055bde5_6060b7b87a71c7ec1df814e4_honor.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/62657423c6c1fb96b3b0af43_6060b7b98165d5ec6edf6f27_logitech.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742452d56eb75ac33232_6060b7bc07f5362efacd827a_swatch.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742558a08c7f19e3ef64_6060b7bd7291140fe1383f82_technogym.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/62657423dcc383e516f71fc1_6060b7bc5fb119a344744527_nike.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742352d56e6123c33231_6060b7b895cee7fbb8cdf093_apple.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742249337be3e8344a86_6060b7b95fb119dab77444e3_hasbro.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742176dd5bff9730427e_6060b7b8e5454af47920d90a_bbc.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/626574240f23dce3cf70b8a4_6060b7bc59cb0e1bf8f39646_oxford.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742576dd5bf87530432f_6060b7bd9a7d3d888cfcd520_wwe.svg",
                                        "https://uploads-ssl.webflow.com/5b54e064ef1d588c6d4a4264/6265742223fd2116071c8e2f_6060b7b9b72627f2d26a43ea_foot_locker.svg"
                                        // Aggiungi altri URL delle immagini secondo necessità
                                    ];
                                
                                    // Elemento HTML padre
                                    var logoSet1 = document.getElementById("logoSet1");
                                
                                    // Creazione dinamica degli elementi img
                                    logos.forEach(function (logoURL) {
                                        var imgElement = document.createElement("img");
                                        imgElement.src = logoURL;
                                        imgElement.alt = "Logo";
                                        imgElement.width = 100;
                                        imgElement.height = 120;
                                        imgElement.className = "image-34";
                                        // Aggiungi l'elemento img al div padre
                                        logoSet1.appendChild(imgElement);
                                    });
                                </script>
                                
                                
                                <div class="v-center">
                                    <a href="" class="section_btn site-btn">Download CV <i class='bx bx-download'></i>
                                        <!--<i
                                    class="bx bx-download"></i>-->
                                    </a>
                                </div>

                            </div>
                        </div>
                    </section>
                    <section id="section-about" data-load="about" class="section-full section-about  scroll">
                        <div class="text-zone ">
                            <header class="h-20 ">
                                <h2 aria-label="Me, Myself and I" style="padding-top: 10%">
                                    <span class="blast" aria-hidden="true" style="opacity: 1">M</span><span
                                        class="blast" aria-hidden="true" style="opacity: 1">e</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">,</span>
                                    <span class="blast" aria-hidden="true" style="opacity: 1">M</span><span
                                        class="blast" aria-hidden="true" style="opacity: 1">y</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">s</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">e</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">l</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">f</span>
                                    <span class="blast" aria-hidden="true" style="opacity: 1">a</span><span
                                        class="blast" aria-hidden="true" style="opacity: 1">n</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">d</span>
                                    <span class="blast" aria-hidden="true" style="opacity: 1">I</span>
                                </h2>
                            </header>
                            <div class="h-70 center-btn">
                                <p>
                                    Dal 2020 sono alla ricerca di come ottenere il meglio da sè e
                                    dagli altri, come sprigionare il potere insito in ognuno di noi
                                    e raggiungere la qualità della vita che desideriamo e meritiamo.
                                    Il mio perché più profondo è quello di costruire una società
                                    migliore, formata da persone libere emotivamente ed
                                    economicamente, consapevoli delle loro qualità e delle loro
                                    innate doti di leadership.<br>
                                    Credo che il compito di ogni manager aziendale sia quello di
                                    capire che un'impresa esiste solo grazie ai propri dipendenti, e
                                    che ognuno di essi è un mondo da scoprire e valorizzare. Il mio
                                    lavoro, oltre a quello di essere esperto di sicurezza
                                    informatica, è quello di formare i leader migliori al mondo che
                                    andranno a gestire le multinazionali che cambiano la vita di
                                    tutti noi
                                </p>
                            </div>

                        </div>
                        <div id="tag" class="tagcloud"></div>
                        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
                        <script src="js/cloud.js"></script>
                        <script>
                            $(document).ready(function () {
                                var entries = [
                                    { label: "Potenzialità" },
                                    { label: "Guida" },
                                    { label: "Assertività" },
                                    { label: "Mentalità" },
                                    { label: "Flessibilità" },
                                    { label: "Apertura" },
                                    { label: "Collaborazione" },
                                    { label: "Individualità" },
                                    { label: "Affermazione di sé" },
                                    { label: "Resilienza" },
                                    { label: "Risoluzione Problemi" },
                                    { label: "Intelligenza Emotiva" },
                                    { label: "Intelligenza Sociale" },
                                    { label: "Leadership Emotiva" },
                                    { label: "Integrità" },
                                    { label: "Motivazione" },
                                    { label: "Disciplina" },
                                    { label: "Ispirazione" },
                                    { label: "Decision Making" },
                                    { label: "Empatia" },
                                    { label: "Immersione" },
                                    { label: "Successo" },
                                ];
                                var settings = {
                                    entries: entries,
                                    width: 1000,
                                    height: 700,
                                    radius: "80%",
                                    radiusMin: 100,
                                    bgDraw: true,
                                    bgColor: "#00000000",
                                    opacityOver: 1.0,
                                    opacityOut: 0.05,
                                    opacitySpeed: 6,
                                    fov: 800,
                                    speed: 0.7,
                                    fontFamily: "Oswald, Arial, sans-serif",
                                    fontSize: "20",
                                    fontColor: "#D5212E",
                                    fontWeight: "normal", //bold
                                    fontStyle: "normal", //italic
                                    fontStretch: "normal", //wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
                                    fontToUpperCase: true,
                                    tooltipFontFamily: "Oswald, Arial, sans-serif",
                                    tooltipFontSize: "11",
                                    tooltipFontColor: "#c91818",
                                    tooltipFontWeight: "normal", //bold
                                    tooltipFontStyle: "normal", //italic
                                    tooltipFontStretch: "normal", //wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
                                    tooltipFontToUpperCase: false,
                                    tooltipTextAnchor: "left",
                                };
                                $("#tag").svg3DTagCloud(settings);
                            });
                        </script>
                    </section>
                    <section class="section-education scroll" id="section-education">
                        <div class="h-60">
                            <div class="rightbox f-left">
                                <div class="center-btn">
                                    <h3>Educazione</h3>
                                </div>
                                <div class="rb-container">

                                    <ul class="rb">


                                        <li class="rb-item" ng-repeat="itembx" data-date="2017-2022">
                                            <div class="timestamp">
                                                2017-2022
                                            </div>
                                            <div>
                                                <i class='bx bx-map-pin'></i> <a
                                                    href="https://www.iiscastelli.edu.it/Pager.aspx?Page=mainpage">I.T.I.S
                                                    Castelli</a>
                                            </div>
                                            <div class="item-title">Diploma istituto tecnico industriale come Tecnico
                                                Informatico
                                            </div>

                                        </li>
                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2022-2025
                                            </div>
                                            <i class='bx bx-map-pin'></i> <a href="https://www.unimi.it/it">Università
                                                statale di Milano</a>
                                            <div class="item-title">Laurea Triennale in Sicurezza dei sistemi e delle
                                                reti
                                                informatiche
                                            </div>

                                        </li>

                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2023-2026
                                            </div>
                                            <i class='bx bx-map-pin'></i> <a href="https://www.unimi.it/it">Università
                                                statale di Milano</a>
                                            <div class="item-title">Laurea Triennale in Economia e Management</div>

                                        </li>
                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2025-2027
                                            </div>
                                            <i class='bx bx-map-pin'></i> <a href="https://www.unimi.it/it">Università
                                                statale di Milano</a>
                                            <div class="item-title">Laurea Magistrale in Sicurezza dei sistemi e delle
                                                reti
                                                informatiche
                                            </div>

                                        </li>
                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2027
                                            </div>
                                            <i class='bx bx-map-pin'></i> <a href="https://www.unimi.it/it">Università
                                                statale di Milano</a>
                                            <div class="item-title">Master in Cybersecurity</div>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                            <div class="rightbox f-right">
                                <div div class="center-btn">
                                    <h3>Carriera</h3>
                                </div>
                                <div class="rb-container">
                                    <ul class="rb">


                                        <li class="rb-item" ng-repeat="itembx" data-date="2017-2022">
                                            <div class="timestamp">
                                                2017-2022
                                            </div>
                                            <div class="item-title">Diploma istituto tecnico industriale come Tecnico
                                                Informatico
                                            </div>

                                        </li>
                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2022-2025
                                            </div>
                                            <div class="item-title">Laurea Triennale in Sicurezza dei sistemi e delle
                                                reti
                                                informatiche
                                            </div>

                                        </li>

                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2023-2026
                                            </div>
                                            <div class="item-title">Laurea Triennale in Economia e Management</div>

                                        </li>
                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2025-2027
                                            </div>
                                            <div class="item-title">Laurea Magistrale in Sicurezza dei sistemi e delle
                                                reti
                                                informatiche
                                            </div>

                                        </li>
                                        <li class="rb-item" ng-repeat="itembx">
                                            <div class="timestamp">
                                                2027
                                            </div>
                                            <div class="item-title">Master in Cybersecurity</div>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="container-skills h-40" id="section-skills">
                            <div class="row section__resume progress-list js-progress-list">
                                <div class="col-md-12 container-skills-title">
                                    <p>general skills</p>
                                </div>
                                <div class="h-80">
                                    <div class="col-md-6 mr-auto">
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title">Networking and System
                                                    Administration</span>
                                                <span class="progress-list__skill-value">80%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title">Operating Systems and Virtual
                                                    Machines</span>
                                                <span class="progress-list__skill-value">70%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title">Network Security Control</span>
                                                <span class="progress-list__skill-value">90%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title"> Coding</span>
                                                <span class="progress-list__skill-value">80%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mr-auto">
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title">Cloud Security</span>
                                                <span class="progress-list__skill-value">80%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title">Blockchain Security</span>
                                                <span class="progress-list__skill-value" id="span-1">60%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title">The Internet of Things </span>
                                                <span class="progress-list__skill-value">90%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-list__skill">
                                            <p>
                                                <span class="progress-list__skill-title">Artificial Intelligence</span>
                                                <span class="progress-list__skill-value">80%</span>
                                            </p>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                                    aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <section id="section-certificates" class="section-certificates scroll">
                        <div class="container-work h-20">
                            <div class="
                         f-left">
                                <h2>Worked with</h2>
                            </div>
                            <div class="slider col-7 f-right">
                                <div class=" slide-track">
                                    <div class="slide"><img
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/2560px-IBM_logo.svg.png">
                                    </div>
                                    <div class="slide"><img
                                            src="https://loghi-famosi.com/wp-content/uploads/2020/10/Microsoft-Logo.png">
                                    </div>
                                    <div class="slide"><img
                                            src="http://portiamovalore.uniba.it/uploads/loghi/Acc_Logo_Black_Purple_RGB_1539701038.PNG">
                                    </div>
                                    <div class="slide"><img
                                            src="https://www.opencampus.it/wp-content/uploads/2020/02/AlmavivADigitaltec.png">
                                    </div>
                                    <div class="slide"><img
                                            src="https://www.renovo.store/wp-content/uploads/2021/05/74-748776_hp-logo-png-hp-hewlett-packard-logo.png">
                                    </div>
                                    <div class="slide"><img
                                            src="https://www.zucchetti.it/website/templates/website/img/logo.png"></div>
                                    <div class="slide"><img
                                            src="https://www.teamsystem.com/wellness/wp-content/uploads/2021/11/TeamSystem_Colore_no-R.webp">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-certificates h-80">
                            <h3 class="heading-77-copy"><strong
                                    class="bold-text-3-copy thin-copy">Certificazioni<br></strong>
                            </h3>
                            <div class="div-block-803">
                                <div class="certificates"><a
                                        href="https://www.coursera.org/account/accomplishments/specialization/GTALZL5FFT9E"
                                        target="_blank" class="w-inline-block"><img
                                            src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f327892a19e4f1abf0056ec_calarts.svg"
                                            width="150" alt="" class="image-92"></a></div>
                                <div class="certificates"><a
                                        href="https://www.interaction-design.org/emre-devseren/certificate/course/fltqnHSHvQvx2QRBp4"
                                        target="_blank" class="w-inline-block"><img
                                            src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278b5db325b8a2f953fb9_idf%20certificate%20emre%20devseren.svg"
                                            width="185" alt="" class="image-92"></a></div>
                                <div class="certificates"><a href="https://www.futurelearn.com/certificates/odtd7zh"
                                        target="_blank" class="w-inline-block"><img
                                            src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278e6dfac67fda36bf0a8_accenture.svg"
                                            width="150" alt="" class="image-92"></a></div>

                            </div>
                            <div class="div-block-803">
                                <div class="certificates"><a
                                        href="https://www.coursera.org/account/accomplishments/specialization/GTALZL5FFT9E"
                                        target="_blank" class="w-inline-block"><img
                                            src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f327892a19e4f1abf0056ec_calarts.svg"
                                            width="150" alt="" class="image-92"></a></div>
                                <div class="certificates"><a
                                        href="https://www.interaction-design.org/emre-devseren/certificate/course/fltqnHSHvQvx2QRBp4"
                                        target="_blank" class="w-inline-block"><img
                                            src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278b5db325b8a2f953fb9_idf%20certificate%20emre%20devseren.svg"
                                            width="185" alt="" class="image-92"></a></div>
                                <div class="certificates"><a href="https://www.futurelearn.com/certificates/odtd7zh"
                                        target="_blank" class="w-inline-block"><img
                                            src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278e6dfac67fda36bf0a8_accenture.svg"
                                            width="150" alt="" class="image-92"></a></div>

                            </div>
                        </div>
                    </section>
                    <section id="section-books" data-load="work" class="section-full section-work scroll">

                        <div class="text-zone h-20" style="width: 100% !important;margin-top: 3%">
                            <div class="w-90">
                                <div>
                                    <h2 aria-label="My Portfolio">
                                        <span class="blast" aria-hidden="true" style="opacity: 1">M</span><span
                                            class="blast" aria-hidden="true" style="opacity: 1">y</span>
                                        <span class="blast" aria-hidden="true" style="opacity: 1">B</span><span
                                            class="blast" aria-hidden="true" style="opacity: 1">o</span><span
                                            class="blast" aria-hidden="true" style="opacity: 1">o</span><span
                                            class="blast" aria-hidden="true" style="opacity: 1">k</span><span
                                            class="blast" aria-hidden="true" style="opacity: 1">s</span>
                                    </h2>
                                    <p>
                                        Ecco a voi una serie di libri che mi hanno formato durante
                                        tutto il mio personale percorso di crescita, aiutandomi a
                                        diventare una persona migliore e trasformando le mie debolezze
                                        in punti di forza. Sei interessato a scoprirli tutti?
                                        <span><a href="books.html">I miei libri</a></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div id="home-magicwalle" class="fake-magicwall h-70">
                            <ul>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788850259397_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788850259397_0_536_0_75.jpg');">

                                        <div class="hover-content vcenter"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788893881289_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788893881289_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788817050166_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788817050166_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788830103146_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788830103146_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788830104334_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788830104334_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788863661309_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788863661309_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788863663259_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788863663259_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788830105874_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788830105874_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788817069113_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788817069113_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                                <li>
                                    <div class="magic-wall_item lazyloaded"
                                        data-bgset="https://www.lafeltrinelli.it/images/9788833620671_0_536_0_75.jpg"
                                        style="background-image: url('https://www.lafeltrinelli.it/images/9788833620671_0_536_0_75.jpg');">
                                        <div class="hover-content vcenter"></div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section id="section-contact" data-load="contact" class="section-full section-contact  scroll">
                        <video autoplay loop muted plays-inline class="back-video">
                            <source src="img/Unbroken - Motivational Video_Trim.mp4" type="video/mp4">
                        </video>
                        <div class="text-zone">
                            <header>
                                <h2 aria-label="Contact me" id="contattami">
                                    Contattami!
                                </h2>
                            </header>
                            <p>
                                Concediti un minuto per <span> CAMBIARE LA TUA VITA</span> ed entrare nel mondo della
                                crescita personale e del successo in ogni ambito
                                della tua vita. Fallo per te, non tornerai più indietro!
                            </p>
                            <div class="contact-form">
                                <form id="contact" autocomplete="off">
                                    <ul>
                                        <li class="half">
                                            <input class="input__field input__field--hoshi" placeholder="Name"
                                                type="text" name="name" />
                                            <label
                                                class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                        </li>
                                        <li class="half">
                                            <input class="input__field input__field--hoshi" placeholder="Email"
                                                type="email" name="email" />
                                            <label
                                                class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                        </li>
                                        <li>
                                            <input class="input__field input__field--hoshi" placeholder="Subject"
                                                type="text" name="subject" />
                                            <label
                                                class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                        </li>
                                        <li>
                                            <textarea class="input__field input__field--hoshi" placeholder="Message"
                                                name="msg"></textarea><label
                                                class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                        </li>
                                        <li class="submit">
                                            <input type="hidden" name="ip" value="212.171.145.48" />
                                            <a href="" id="submit-form" class="flat-button submit-form">
                                                <div>
                                                    <span class="bg"></span> <span class="base"></span>
                                                    <span class="text">Invia!</span>
                                                </div>
                                            </a>
                                            <input style="display: none" id="submit" type="submit" class="flat-button"
                                                value="SEND" />
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            //add age 
            function getAge(dateString) {
                var today = new Date();
                var birthDate = new Date(dateString);
                var age = today.getFullYear() - birthDate.getFullYear();
                var m = today.getMonth() - birthDate.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            }

            var myAge = '2/6/2004';
            document.getElementById("age").innerHTML = getAge(myAge);

            $(function () {
                $(".main-menu_nav a").on('click', function () {
                    $("html,body").animate({
                        scrollTop: $($.attr(this, 'href')).offset().top
                    }, 1000); // 500 = 0.5 second
                });
            });
            $(function () {

                $("#home-magicwalle").on("click", function (e) {
                    //your code here..
                    window.location.replace("books.html");
                    e.preventDefault(); //to prevent any other unwanted behavior clicking the div might cause
                });

            });

            function isScrolledIntoView(el) {
                var rect = el.getBoundingClientRect();
                var elemTop = rect.top;
                var elemBottom = rect.bottom;

                // Only completely visible elements return true:
                // var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
                // Partially visible elements return true:
                isVisible = elemTop + 100 < window.innerHeight && elemBottom >= 0;
                return isVisible;
            }

            function isIntoView(el) {
                var rect = el.getBoundingClientRect();
                var elemTop = rect.top;
                var elemBottom = rect.bottom;

                // Only completely visible elements return true:
                var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
                return isVisible;
            }

            // If element is scrolled into view, fade it in
            $(window).scroll(function () {
                $("#section-books").each(function () {
                    if (isScrolledIntoView(this) === true) {
                        // this.style.animation = "fadeOutLeft 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both alternate-reverse ";
                        this.style.animation = "puff-in-center 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both";
                    }
                    if (isScrolledIntoView(this) === false)
                        this.style.animation = "";

                });
                $(".progress-list__skill").each(function () {
                    if (isIntoView(this) === true) {
                        let name = this.querySelectorAll("p .progress-list__skill-value ")[0].textContent.trim().replace('%', '');
                        let temp_animation = "load_" + name + " 3s normal forwards";
                        this.querySelectorAll("div div")[1].style.animation = temp_animation;
                    }
                })
            });

        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.21/jquery.scrollify.min.js"></script>
        <script src="js/color.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                $.scrollify({
                    section: '.scroll',
                    sectionName: 'section- name',
                    easing: "easeOutExpo",
                    scrollSpeed: 1900,
                    offset: 0,
                    setHeights: true,
                    updateHash: true,
                    scrollbars: true,
                    overflowScroll: true,
                    touchScroll: true,
                })
            });

        </script>
    </div>
    <script src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/osciliator.js" id="oscil"></script>
    <script src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/tagcanvas.js" id="tagcanvas"></script>
</body>

</html>