<html lang="en-US" class="no-js">
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link" />
<link type="text/css" rel="stylesheet" id="dark-mode-general-link" />
<style lang="en" type="text/css" id="dark-mode-custom-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-sheet"></style>

<head>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-63172957-1");
    </script>
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-63172957-1"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000" />
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/601407094277873664/WT2mk28E_400x400.jpg" />
    <link rel="icon" sizes="57x57" href="img/logo.png" />

    <script src="jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="jquery.tagcanvas.min.js" type="text/javascript"></script>

    <title>Andrea Ferraboli</title>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">




    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



</head>

<body
    class="home page-template page-template-template-home page-template-template-home-php page page-id-11 window-loaded">
    <menu class="main-menu">
        <div class="main-menu__top">
            <a class="logo" rel="home" href="https://jacekjeznach.com">
                <img src="img/logo.png" alt="" href="https://andreaferraboli.it" />
                <span>Andrea</span>
                <span>Ferraboli</span>
            </a>
        </div>
        <nav class="main-menu_nav">
            <a rel="about" href="#section-home">Home</a>
            <a rel="about" href="#section-about">About</a>
            <a rel="skills" href="#section-skills">My Skills</a>
            <a rel="skills" href="#section-books">My Books</a>
            <a rel="work" href="#section-work">Work</a>
            <a rel="contact" href="#section-contact">Contact</a>
        </nav>

        <ul class="main-menu__social">
            <a href="https://www.facebook.com/andrea.ferraboli.7/" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/andrea_ferraboli/" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/andrea-ferraboli-845135188/" target="_blank"><i
                    class="bx bxl-linkedin"></i></a> <br>
            <a href="https://github.com/andreaferraboli" target="_blank"><i class="bx bxl-github"></i></a>
            <a href="mailto: andrew.ferro04@gmail.com" target="_blank"><i class="bx bxl-gmail"></i></a>
            <a href="https://t.me/Ferro624" target="_blank"><i class="bx bxl-telegram"></i></a>
        </ul>
    </menu>
    <div id="ajaxify">
        <div class="page-outer">
            <span class="tags top-tags"> </span>
            <div class="page-inner">
                <div class="aboutMe">
                    <section id="section-home" class="section-full section-home js-page-home loaded">
                        <div class="text-zone personal-job-area">
                            <h1 class="personal-job-area">
                                <span class="text-job">Cybersecurity Specialist </span> <br />
                                <span class="text-job">Chief Information Security Officer</span>
                                <br />
                                <span class="text-job">Senior Manager</span> <br />
                                <span class="text-job">Counselor</span> <br />
                                <span class="text-job">Mental Coach</span> <br />
                            </h1>
                            <br />
                            <p class="aforisma">
                                "Se fai ciò che hai sempre fatto otterrai ciò che hai sempre
                                ottenuto."
                            </p>
                            <br />
                            <div class="center-btn">
                                <a rel="contact" href="/contact/" class="flat-button center-btn">
                                    <span class="bg"></span> <span class="base"></span>
                                    <span class="text">Scopri di più</span>
                                </a>
                            </div>
                        </div>
                        <div>
                            <img src="img/foto-no-background.png" class="img" />
                        </div>

                    </section>
                </div>
                <section class="section-information">
                    <div class="container h-50">
                        <div class="row personal-profile">
                            <div class="col-md-4 personal-profile__avatar">
                                <img class="" src="img/img_avatar.png" alt="avatar">
                            </div>
                            <div class="col-md-8">
                                <h2 class="personal-profile__name">Andrea Ferraboli</h2>
                                <p class="personal-profile__work">Cybersecurity Specialist, mental coach</p>
                                <div class="personal-profile__contacts">
                                    <dl class="contact-list contact-list__opacity-titles">
                                        <dt>Age:</dt>
                                        <dd>23</dd>
                                        <dt>Phone:</dt>
                                        <dd><a href="tel:+39 3339431378">(+39) 333 9431379</a></dd>
                                        <dt>Email:</dt>
                                        <dd><a href="mailto:andrew.ferro04@gmail.com">andrew.ferro04@gmail.com</a></dd>
                                        <dt>Address:</dt>
                                        <dd>Via G. A. Cavellini 1, 25134, Brescia</dd>
                                    </dl>
                                </div>
                                <p class="personal-profile__social">
                                    <a href="https://www.facebook.com/andrea.ferraboli.7/" target="_blank"><i
                                            class="bx bxl-facebook"></i></a>
                                    <a href="https://www.instagram.com/andrea_ferraboli/" target="_blank"><i
                                            class="bx bxl-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/andrea-ferraboli-845135188/" target="_blank"><i
                                            class="bx bxl-linkedin"></i></a>
                                    <a href="https://github.com/andreaferraboli" target="_blank"><i
                                            class="bx bxl-github"></i></a>
                                    <a href="mailto: andrew.ferro04@gmail.com" target="_blank"><i
                                            class="bx bxl-gmail"></i></a>
                                    <a href="https://t.me/Ferro624" target="_blank"><i class="bx bxl-telegram"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="hello" class="cv-container h-50">
                        <div class="row">
                            <div>
                                <p class="section__description">
                                    Professionista dell'Information Technology (IT) con una forte competenza nella
                                    gestione dell'IT, nella gestione della sicurezza IT e nell'architettura aziendale
                                    IT.
                                    Ho effettuato valutazioni e selezioni di strumenti di sicurezza IT e ho implementato
                                    con successo sistemi di sicurezza IT per proteggere la disponibilità, l'integrità e
                                    la riservatezza delle informazioni aziendali critiche e dei sistemi informativi.
                                    Persona altamente qualificata, dedita al lavoro di squadra ed entusiasta, con
                                    eccellenti capacità di leadership,motivazione e di comunicazione.
                                </p>
                                <a href="" class="section_btn site-btn">Download CV<i class="bx bx-download"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="section-about" data-load="about" class="section-full section-about js-way">
                    <div class="text-zone">
                        <header>
                            <h2 aria-label="Me, Myself and I">
                                <span class="blast" aria-hidden="true" style="opacity: 1">M</span><span class="blast"
                                    aria-hidden="true" style="opacity: 1">e</span><span class="blast" aria-hidden="true"
                                    style="opacity: 1">,</span>
                                <span class="blast" aria-hidden="true" style="opacity: 1">M</span><span class="blast"
                                    aria-hidden="true" style="opacity: 1">y</span><span class="blast" aria-hidden="true"
                                    style="opacity: 1">s</span><span class="blast" aria-hidden="true"
                                    style="opacity: 1">e</span><span class="blast" aria-hidden="true"
                                    style="opacity: 1">l</span><span class="blast" aria-hidden="true"
                                    style="opacity: 1">f</span>
                                <span class="blast" aria-hidden="true" style="opacity: 1">a</span><span class="blast"
                                    aria-hidden="true" style="opacity: 1">n</span><span class="blast" aria-hidden="true"
                                    style="opacity: 1">d</span>
                                <span class="blast" aria-hidden="true" style="opacity: 1">I</span>
                            </h2>
                        </header>
                        <p>
                            Dal 2020 sono alla ricerca di come ottenere il meglio da sè e
                            dagli altri, come sprigionare il potere insito in ognuno di noi
                            e raggiungere la qualità della vita che desideriamo e meritiamo.
                        </p>
                        <p>
                            Il mio perchè più profondo è quello di costruire una società
                            migliore, formata da persone libere emotivamente ed
                            economicamente, consapevoli delle loro qualità e delle loro
                            innate doti di leadership
                        </p>
                        <p>
                            Credo che il compito di ogni manager aziendale sia quello di
                            capire che un'impresa esiste solo grazie ai propri dipendenti, e
                            che ognuno di essi è un mondo da scoprire e valorizzare. Il mio
                            lavoro, oltre a quello di essere esperto di sicurezza
                            informatica, è quello di formare i leader migliori al mondo che
                            andranno a gestire le multinazionali che cambiano la vita di
                            tutti noi
                        </p>
                    </div>
                    <div id="tag" class="tagcloud"></div>
                    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
                    <script src="js/cloud.js"></script>
                    <script>
                        $(document).ready(function () {
                            var entries = [
                                { label: "Mentalità" },
                                { label: "Leadership" },
                                { label: "Assertività" },
                                { label: "Mindset" },
                                { label: "Flessibilità" },
                                { label: "Permeabilità" },
                                { label: "Mutualità" },
                                { label: "Separatezza" },
                                { label: "Asserzione di sè" },
                                { label: "Resilienza" },
                                { label: "Problem Solving" },
                                { label: "Intelligenza Emotiva" },
                                { label: "Intelligenza Sociale" },
                                { label: "Leadership Emotiva" },
                                { label: "integrità" },
                                { label: "Motivazione" },
                                { label: "Disciplina" },
                                { label: "Ispirazione" },
                                { label: "Decision Making" },
                                { label: "Empatia" },
                                { label: "Immersione" },
                                { label: "Successo" },
                            ];
                            var settings = {
                                entries: entries,
                                width: 700,
                                height: 600,
                                radius: "80%",
                                radiusMin: 100,
                                bgDraw: true,
                                bgColor: "#00000000",
                                opacityOver: 1.0,
                                opacityOut: 0.05,
                                opacitySpeed: 6,
                                fov: 800,
                                speed: 0.7,
                                fontFamily: "Oswald, Arial, sans-serif",
                                fontSize: "20",
                                fontColor: "#c91818",
                                fontWeight: "normal", //bold
                                fontStyle: "normal", //italic
                                fontStretch: "normal", //wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
                                fontToUpperCase: true,
                                tooltipFontFamily: "Oswald, Arial, sans-serif",
                                tooltipFontSize: "11",
                                tooltipFontColor: "#c91818",
                                tooltipFontWeight: "normal", //bold
                                tooltipFontStyle: "normal", //italic
                                tooltipFontStretch: "normal", //wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
                                tooltipFontToUpperCase: false,
                                tooltipTextAnchor: "left",
                            };
                            $("#tag").svg3DTagCloud(settings);
                        });
                    </script>
                </section>
                <section class="section-education" id="section-education">
                    <div class="h-50">
                        <div class="rightbox f-left">
                            <div class="rb-container">
                                <ul class="rb">
                                    <li class="rb-item" ng-repeat="itembx" data-date="2017-2022">
                                        <div class="timestamp">
                                            2017-2022
                                        </div>
                                        <div class="item-title">Diploma istituto tecnico industriale come Tecnico
                                            Informatico</div>
    
                                    </li>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2022-2025
                                        </div>
                                        <div class="item-title">Laurea Triennale in Sicurezza dei sistemi e delle reti
                                            informatiche</div>
    
                                    </li>
    
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2023-2026
                                        </div>
                                        <div class="item-title">Laurea Triennale in Economia e Management</div>
    
                                    </li>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2025-2027
                                        </div>
                                        <div class="item-title">Laurea Magistrale in Sicurezza dei sistemi e delle reti
                                            informatiche</div>
    
                                    </li>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2027
                                        </div>
                                        <div class="item-title">Master in Cybersecurity</div>
    
                                    </li>
    
                                </ul>
    
                            </div>
                        </div>
                        <div class="rightbox f-right">
                            <div class="rb-container">
                                <ul class="rb">
                                    <li class="rb-item" ng-repeat="itembx" data-date="2017-2022">
                                        <div class="timestamp">
                                            2017-2022
                                        </div>
                                        <div class="item-title">Diploma istituto tecnico industriale come Tecnico
                                            Informatico</div>
    
                                    </li>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2022-2025
                                        </div>
                                        <div class="item-title">Laurea Triennale in Sicurezza dei sistemi e delle reti
                                            informatiche</div>
    
                                    </li>
    
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2023-2026
                                        </div>
                                        <div class="item-title">Laurea Triennale in Economia e Management</div>
    
                                    </li>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2025-2027
                                        </div>
                                        <div class="item-title">Laurea Magistrale in Sicurezza dei sistemi e delle reti
                                            informatiche</div>
    
                                    </li>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            2027
                                        </div>
                                        <div class="item-title">Master in Cybersecurity</div>
    
                                    </li>
    
                                </ul>
    
                            </div>
                        </div>
                    </div>
                    <div class="container-skills h-50">
                        <div class="row section__resume progress-list js-progress-list">
                            <div class="col-md-12">
                              <h3 class="progress-list__title">general skills</h3>
                            </div>
                            <div class="col-md-6 mr-auto">
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">html5</span>
                                  <span class="progress-list__skill-value">80%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                  </div>
                                </div>
                              </div>
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">css3</span>
                                  <span class="progress-list__skill-value">70%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                  </div>
                                </div>
                              </div>
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">java script</span>
                                  <span class="progress-list__skill-value">90%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                  </div>
                                </div>
                              </div>
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">jquery</span>
                                  <span class="progress-list__skill-value">80%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mr-auto">
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">bootstrap 3</span>
                                  <span class="progress-list__skill-value">80%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                  </div>
                                </div>
                              </div>
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">grunt</span>
                                  <span class="progress-list__skill-value">60%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                  </div>
                                </div>
                              </div>
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">git</span>
                                  <span class="progress-list__skill-value">90%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                  </div>
                                </div>
                              </div>
                              <div class="progress-list__skill">
                                <p>
                                  <span class="progress-list__skill-title">adobe photoshop</span>
                                  <span class="progress-list__skill-value">80%</span>
                                </p>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    
                </section>
                <section id="section-books" data-load="work" class="section-full section-work js-way">
                    <div class="fake-big">Work</div>
                    <div class="text-zone">
                        <div>
                            <header>
                                <h2 aria-label="My Portfolio">
                                    <span class="blast" aria-hidden="true" style="opacity: 1">M</span><span
                                        class="blast" aria-hidden="true" style="opacity: 1">y</span>
                                    <span class="blast" aria-hidden="true" style="opacity: 1">B</span><span
                                        class="blast" aria-hidden="true" style="opacity: 1">o</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">o</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">k</span><span class="blast"
                                        aria-hidden="true" style="opacity: 1">s</span>
                                </h2>
                            </header>
                            <p>
                                Ecco a voi una serie di libri che mi hanno formato durante
                                tutto il mio personale percorso di crescita, aiutandomi a
                                diventare una persona migliore e trasformando le mie debolezze
                                in punti di forza. <br />
                                Sei interessato a scoprirli tutti?
                                <a rel="work" href="libri.html">I miei libri</a>
                            </p>
                        </div>
                        <div>
                            <a rel="work" href="/portfolio/" class="flat-button">
                                <div>
                                    <span class="bg"></span> <span class="base"></span>
                                    <span class="text">scopri di più!</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="home-magicwalle" class="fake-magicwall">
                        <ul>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788850259397_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788850259397_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>
                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788893881289_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788893881289_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>
                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788817050166_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788817050166_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788830103146_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788830103146_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788830104334_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788830104334_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788863661309_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788863661309_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788863663259_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788863663259_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788830105874_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788830105874_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788817069113_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788817069113_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                            <li>
                                <div class="magic-wall_item lazyloaded"
                                    data-bgset="https://www.lafeltrinelli.it/images/9788833620671_0_536_0_75.jpg"
                                    style="background-image: url('https://www.lafeltrinelli.it/images/9788833620671_0_536_0_75.jpg');">
                                    <div class="hover-content vcenter"></div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section-companies">
                    <div class="col-3">
                        <h2>Worked with</h2>
                    </div>
                    <div class="slider col-7">
                        <div class=" slide-track">
                            <div class="slide"><img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IBM_logo.svg/2560px-IBM_logo.svg.png">
                            </div>
                            <div class="slide"><img
                                    src="https://loghi-famosi.com/wp-content/uploads/2020/10/Microsoft-Logo.png">
                            </div>
                            <div class="slide"><img
                                    src="http://portiamovalore.uniba.it/uploads/loghi/Acc_Logo_Black_Purple_RGB_1539701038.PNG">
                            </div>
                            <div class="slide"><img
                                    src="https://www.opencampus.it/wp-content/uploads/2020/02/AlmavivADigitaltec.png">
                            </div>
                            <div class="slide"><img
                                    src="https://www.renovo.store/wp-content/uploads/2021/05/74-748776_hp-logo-png-hp-hewlett-packard-logo.png">
                            </div>
                            <div class="slide"><img
                                    src="https://www.zucchetti.it/website/templates/website/img/logo.png"></div>
                            <div class="slide"><img
                                    src="https://www.teamsystem.com/wellness/wp-content/uploads/2021/11/TeamSystem_Colore_no-R.webp">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-certificates" id="section-certificates">
                    <div class="div-certificates">
                        <h3 class="heading-77-copy"><strong
                                class="bold-text-3-copy thin-copy">Certificazioni<br></strong>
                        </h3>
                        <div class="div-block-803">
                            <div class="certificates"><a
                                    href="https://www.coursera.org/account/accomplishments/specialization/GTALZL5FFT9E"
                                    target="_blank" class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f327892a19e4f1abf0056ec_calarts.svg"
                                        width="150" alt="" class="image-92"></a></div>
                            <div class="certificates"><a
                                    href="https://www.interaction-design.org/emre-devseren/certificate/course/fltqnHSHvQvx2QRBp4"
                                    target="_blank" class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278b5db325b8a2f953fb9_idf%20certificate%20emre%20devseren.svg"
                                        width="185" alt="" class="image-92"></a></div>
                            <div class="certificates"><a href="https://www.futurelearn.com/certificates/odtd7zh"
                                    target="_blank" class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278e6dfac67fda36bf0a8_accenture.svg"
                                        width="150" alt="" class="image-92"></a></div>

                        </div>
                        <div class="div-block-803">
                            <div class="certificates"><a
                                    href="https://www.coursera.org/account/accomplishments/specialization/GTALZL5FFT9E"
                                    target="_blank" class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f327892a19e4f1abf0056ec_calarts.svg"
                                        width="150" alt="" class="image-92"></a></div>
                            <div class="certificates"><a
                                    href="https://www.interaction-design.org/emre-devseren/certificate/course/fltqnHSHvQvx2QRBp4"
                                    target="_blank" class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278b5db325b8a2f953fb9_idf%20certificate%20emre%20devseren.svg"
                                        width="185" alt="" class="image-92"></a></div>
                            <div class="certificates"><a href="https://www.futurelearn.com/certificates/odtd7zh"
                                    target="_blank" class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/5f30faecbbdfa95fe4273bfb/5f3278e6dfac67fda36bf0a8_accenture.svg"
                                        width="150" alt="" class="image-92"></a></div>

                        </div>
                    </div>
                </section>
                <section id="section-contact" data-load="contact" class="section-full section-contact js-way">
                    <video autoplay loop muted plays-inline class="back-video">
                        <source src="img/Unbroken - Motivational Video_Trim.mp4" type="video/mp4">
                    </video>
                    <div class="text-zone">
                        <header>
                            <h2 aria-label="Contact me">
                                Contattami!
                            </h2>
                        </header>
                        <p>
                            Concediti un minuto per <span> CAMBIARE LA TUA VITA</span> ed entrare nel mondo della
                            crescita personale e del successo in ogni ambito
                            della tua vita. Fallo per te, non tornerai più indietro!
                        </p>
                        <div class="contact-form">
                            <form id="contact" autocomplete="off">
                                <ul>
                                    <li class="half">
                                        <input class="input__field input__field--hoshi" placeholder="Name" type="text"
                                            name="name" />
                                        <label
                                            class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                    </li>
                                    <li class="half">
                                        <input class="input__field input__field--hoshi" placeholder="Email" type="email"
                                            name="email" />
                                        <label
                                            class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                    </li>
                                    <li>
                                        <input class="input__field input__field--hoshi" placeholder="Subject"
                                            type="text" name="subject" />
                                        <label
                                            class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                    </li>
                                    <li>
                                        <textarea class="input__field input__field--hoshi" placeholder="Message"
                                            name="msg"></textarea><label
                                            class="input__label input__label--hoshi input__label--hoshi-color-2"></label>
                                    </li>
                                    <li class="submit">
                                        <input type="hidden" name="ip" value="212.171.145.48" />
                                        <a href="" id="submit-form" class="flat-button submit-form">
                                            <div>
                                                <span class="bg"></span> <span class="base"></span>
                                                <span class="text">Invia!</span>
                                            </div>
                                        </a>
                                        <input style="display: none" id="submit" type="submit" class="flat-button"
                                            value="SEND" />
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript"
        src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/tweenmax.min.js?ver=2.7.1"
        id="TweenMax-js"></script>
    <script type="text/javascript" src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/colorbox.js?ver=2.7.1"
        id="colorbox-js"></script>
    <script type="text/javascript" src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/alertify.js?ver=2.7.1"
        id="alertify-js"></script>
    <script type="text/javascript" src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/blast.js?ver=2.7.1"
        id="blast-js"></script>
    <script type="text/javascript" src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/waypoints.js?ver=2.7.1"
        id="waypoints-js"></script>
    <script type="text/javascript" src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/salvatore.js?ver=1.0.0"
        id="salvatore-js"></script>
    <script type="text/javascript"
        src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/ls.bgset.min.js?ver=2.7.1" id="bgset-js"></script>
    <script type="text/javascript"
        src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/lazysizes.min.js?ver=2.7.1"
        id="lazysizes-js"></script>
    <script type="text/javascript" id="system-js-extra">
        var ajax_object = {
            ajax_url: "https:\/\/jacekjeznach.com\/wp-admin\/admin-ajax.php",
        };
    </script>
    <script type="text/javascript" src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/system.js?ver=2.7.1"
        id="system-js"></script>
    <script type="text/javascript"
        src="https://jacekjeznach.com/wp-includes/js/wp-embed.min.js?ver=21d5c27d9d699eb8d34dc404075e5377"
        id="wp-embed-js"></script>
    <div id="preloader" class="preloader">
        <div class="inner">
            <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_lossy,ret_img/https://jacekjeznach.com/wp-content/themes/new/img/logopreload.png"
                alt="Wordpress Developer Loader, Web Developer Loader , Cybersecurity Specialist Loader" />
            <span>Jack is thinking</span>
            <div id="progress-bar" class="progress-bar">
                <div id="progress-bar_bg" class="progress-bar_bg">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = {};
        app.ajax = null;

        window.lazySizesConfig = window.lazySizesConfig || {};
        lazySizesConfig.loadMode = 1;
        lazySizesConfig.loadHidden = false;
        window.lazySizesConfig.expand = 10; //default 360-500
        lazySizesConfig.expFactor = 1.5; //default: 1.7

        SystemJS.import(
            "https://jacekjeznach.com/wp-content/themes/new/js/main.js"
        );
    </script>
    <script>
        function loadJS(u) {
            var r = document.getElementsByTagName("script")[0],
                s = document.createElement("script");
            s.src = u;
            r.parentNode.insertBefore(s, r);
        }

        if (!window.HTMLPictureElement || document.msElementsFromPoint) {
            loadJS(
                "https://jacekjeznach.com/wp-content/themes/new/js/vendor/ls.respimg.min.js"
            );
        }
    </script>
    <div id="cboxOverlay" style="display: none"></div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none">
        <div id="cboxWrapper">
            <div>
                <div id="cboxTopLeft" style="float: left"></div>
                <div id="cboxTopCenter" style="float: left"></div>
                <div id="cboxTopRight" style="float: left"></div>
            </div>
            <div style="clear: left">
                <div id="cboxMiddleLeft" style="float: left"></div>
                <div id="cboxContent" style="float: left">
                    <div id="cboxTitle" style="float: left"></div>
                    <div id="cboxCurrent" style="float: left"></div>
                    <button type="button" id="cboxPrevious"></button><button type="button"
                        id="cboxNext"></button><button id="cboxSlideshow"></button>
                    <div id="cboxLoadingOverlay" style="float: left"></div>
                    <div id="cboxLoadingGraphic" style="float: left"></div>
                </div>
                <div id="cboxMiddleRight" style="float: left"></div>
            </div>
            <div style="clear: left">
                <div id="cboxBottomLeft" style="float: left"></div>
                <div id="cboxBottomCenter" style="float: left"></div>
                <div id="cboxBottomRight" style="float: left"></div>
            </div>
        </div>
        <div style="
          position: absolute;
          width: 9999px;
          visibility: hidden;
          display: none;
          max-width: none;
        "></div>
    </div>
    <script src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/osciliator.js" id="oscil"></script>
    <script src="https://jacekjeznach.com/wp-content/themes/new/js/vendor/tagcanvas.js" id="tagcanvas"></script>
</body>

</html>