:root {
    /* --primary-color: #171717;
    --secondary-color:  #e92d2d;
    --third-color: #444444;
    --text-color: #ededed; */
    --primary-color: #0e0b0b;
    --secondary-color: #d30000;
    /* --secondary-color:    #D5212E #CB1F40; */
    --third-color: #9ba5c9;
    --text-color: #ffffff;
  }